<h1>Artists</h1><br>

<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist %> has <%= "#{artist.songs.count} #{pluralize(artist.songs.count, 'song')}" %></li>
  <% end %>
</ul>